.container {
    position: absolute !important;
    margin: 6rem;
    border: 1px solid #db9616;
    height: 60rem;
    width: 55rem;
    left: 15.5rem;
    background-color: #fcffe6;
    color: black;

    .heading {
        font-size: 3.2rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .rate {
        font-size: 1.5rem;
        background: rgba(11,26,42,.95);
        border-radius: 5px;
        position: absolute;
        color: white;
        margin-left: 1rem;

        .star-icon{
            color: #dc4666;
            margin-right: 0.5rem;
        }
    }

    .review-count {
        position: absolute;
        left: 9rem;
        border-left: 2px solid black;
        padding-left: 14px;
        margin-top: 3px;
    }

    .movie-body {
        margin-top: 6rem;
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;

        .movie-image {
            flex: 1;
        }

        .movie-content {
            flex: 1;
            margin-left: 2rem;

            .movie-content-heading {
                margin-bottom: 1rem;
            }

            .movie-content-description {
                margin-bottom: 1rem;
            }

            .movie-content-list {
                display: inline;
            }

            .movie-content-review-button {
                text-align: center;
                margin-top: 4rem;

                .movie-content-review {
                    background-color: #e50914;
                    border: none;
                    color: #fff;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 4px 2px;
                    cursor: pointer;
                    width: 16rem;
                    height: 4rem;
                    font-size: 1.5rem;
                  }
                  :hover {
                    opacity: 0.5;
                  }
            }
        }
    }

    .movie-footer {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .movie-footer-heading {
            font-size: 2rem;
        }

        .movie-footer-content {
            height: 12.2rem;
            overflow-y: auto;
        }
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 61%;
        color: black;

        .modal-header {
            padding: 20px;
            display: block !important;

            .modal-heading {
                font-size: 2rem;
            }

            .close {
                color: #aaaaaa;
                float: right;
                font-size: 40px;
                font-weight: bold;
            }
        
            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .separator{
            margin-top: 3rem;
            background-color: #db9616;
            opacity: 0.5;
        }

        .review-input {
            color: black;
            margin-top: 1rem;
            padding: 20px;
            font-size: 1.5rem;

            input {
                height: 4rem;
            }

            .review-error-alert {
                background-color: #ffbebd;
                color: #e50914;
                width: 55rem;
                height: 5rem;
                text-align: center;
                padding-top: 1.2rem;
            }
        }

        .modal-button {
            background-color: #fff;
            border: 1px solid #e50914;
            color: #e50914;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-left: 1.3rem;
            margin-bottom: 1rem;
            cursor: pointer;
            width: 55rem;
            height: 4rem;
            font-size: 1.5rem;
        }
        .modal-button:hover {
            background-color: #e50914;
            color: #fff;
        }
    }
}

